<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amber.dao.CategoriesDao">

    <insert id="insertOneRecord" parameterType="com.amber.entity.Categories">
        INSERT INTO connect_cms.categories (parent_id, name, description, slug, create_time)
        VALUES (#{parentId}, #{name}, #{description}, #{slug}, #{createTime})
    </insert>


    <select id="pageQuery" resultType="com.amber.entity.Categories">
        select *
        from connect_cms.categories
        order by create_time desc
    </select>
</mapper>
