<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amber.dao.RolesDao">

    <insert id="insertOneRecord" useGeneratedKeys="true" keyProperty="id">
        insert into connect_cms.roles (name, description, create_time)
        VALUES (#{name}, #{description}, #{createTime})
    </insert>

    <select id="pageQuery" resultType="com.amber.entity.Roles">
        select *
        from connect_cms.roles
        order by create_time desc
    </select>

    <delete id="deleteRoleByIds">
        delete from connect_cms.roles
        where id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
